---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* type scale */
$type-size-1                  : 2.241em !default;
$type-size-2                  : 1.753em !default;
$type-size-3                  : 1.363em !default;
$type-size-4                  : 1.05em !default;
$type-size-5                  : 0.8em !default;
$type-size-6                  : 0.6em !default;
$type-size-7                  : 0.52em !default;
$type-size-8                  : 0.5em !default;

h1 {
    margin-top: 0;
    font-size: 1.363em;
}